@font-face{
  font-family: Sage;
  src: url("../src/assets/fonts/Sage\ Grotesk.otf")
}  
@font-face{
  font-family: Ponjoung;
  src: url("../src/assets/fonts/ponjoung/Ponjoung-Medium.otf")
}  
 
@font-face{
  font-family: HelveticaNowThin;
  src: url("../src/assets/fonts/helvetica-nowDisplay/HelveticaNowDisplay-Thin.ttf")
}  
@font-face{
  font-family: HelveticaNowLight;
  src: url("../src/assets/fonts/helvetica-nowDisplay/HelveticaNowDisplay-Light.ttf")
}  
@font-face{
  font-family: HelveticaNowRegular;
  src: url("../src/assets/fonts/helvetica-nowDisplay/HelveticaNowDisplay-Regular.ttf")
}  
@font-face{
  font-family: HelveticaNowMedium;
  src: url("../src/assets/fonts/helvetica-nowDisplay/HelveticaNowDisplay-Medium.ttf")
}  
@font-face{
  font-family: HelveticaNowBold;
  src: url("../src/assets/fonts/helvetica-nowDisplay/HelveticaNowDisplay-Bold.ttf")
}  

@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@theme{
  --font-sage: Sage , "sans-serif";
  --font-ponjoung: Ponjoung , "sans-serif";
  --font-helvetica-thin: HelveticaNowThin , "sans-serif";
  --font-helvetica-light: HelveticaNowLight , "sans-serif";
  --font-helvetica-regular: HelveticaNowRegular , "sans-serif";
  --font-helvetica-medium: HelveticaNowMedium , "sans-serif";
  --font-helvetica-bold: HelveticaNowBold , "sans-serif";
}

@keyframes marquee {
  0% {
    transform: translateX(30%);
  }
  100% {
    transform: translateX(-30%);
  }
}

